// Custom.scss
// Option A: Include all of Bootstrap


// custom colors
$primary: rgba(10, 5, 0, 1);

$pasol-pink: #FBECDC;
$pasol-blue: #67B6DB;
$pasol-purple: #C79FB5;
$pasol-yellow: rgb(252, 214, 115,1);
$pasol-orange: #FD9550;
$pasol-dark-orange: rgb(215, 102, 26,1);
$pasol-green: #47B19B;
$pasol-dark-green: #17594D;
$gray: #e6e6e6;
$body-background:#fff7f1;
$body-background2: #fffaf7;

:root{
    --pasol-dark-orange: rgb(215, 102, 26,1);
    --pasol-pink: #FBECDC;
    --pasol-blue: #67B6DB;
    --pasol-purple: #C79FB5;
    --pasol-yellow: rgb(252, 214, 115,1);
    --pasol-orange: #FD9550;
    --pasol-dark-orange: rgb(215, 102, 26,1);
    --pasol-green: #47B19B;
    --pasol-dark-green: #17594D;
    --pasol-new-green: #a8d6a6;
}

$theme-colors: (
    "primary": $primary,
    "gray": $gray
);

/*** create custom colors ***/
$custom-color: (
    "icon-background": $pasol-dark-orange,
    "pasol-yellow": $pasol-yellow,
    "pasol-dark-orange": $pasol-dark-orange,
    "pasol-pink": $pasol-pink,
    "pasol-blue": $pasol-blue
);

// Merge maps

$theme-colors: map-merge($theme-colors, $custom-color);


@import "./bootstrap/scss/bootstrap";
// @import "yeti.scss";
 
// Add custom code after this
body {
    overflow-x: hidden;
    background: #fff7f1!important;
  }

/***HEADER***/
.announcement-bar {
    font-size: 0.8rem;
    border-bottom: 1px solid var(--bs-gray);
    background-color: var(--bs-pasol-yellow);
    height: 3rem;
    display: flex;
    @include media-breakpoint-up(md){
        position: fixed;
        top: 0px;
        width:100%;
        z-index: 10;
        margin:auto;
    }

    @include media-breakpoint-down(md){
        position: fixed;
        top: 0px;
        width:100%;
        z-index: 10;
        margin:auto;
    }

    &__list {
        // padding: 0;
        margin: 0;
        list-style-type: none;
        display: inline-flex;
        margin: 0 -10px;

        a{
            text-decoration: none;
            color:var(--bs-black);
        }
        li {
            margin: 0 10px;
            display: flex;
            align-items: center;

            .bi {
                background-color: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 4rem;
                height: 4rem;
                margin-right: 6px;
                font-size: 1.2rem;
                padding-bottom: 1rem;
            }
        }
        
        .cart {
            i {
                font-size: 1.2rem;
            }            
        }

        .aws-container .aws-search-form .aws-wrapper {
            padding-top:0.2rem;
        }

        .aws-search-field {
            font-size: 0.9rem;
            border-radius: 20px!important;
            padding-left: 1.4rem;
            height:2rem;
        }

        .aws-container {
            .aws-form-btn {
                border:none;
                // border-radius: 20px!important;
                // border-color: var(--bs-pasol-yellow)!important;
                background:none;
                margin-left: 3px!important;
                // background-color: var(--bs-pasol-yellow)!important;

            }
        }

        // make the bar announcement bar disarrpear if too small or mobile
        @include media-breakpoint-down(md){
            display: none;
        }
    }
    // make the bar announcement for mobile only
    &__mobile {

        @include media-breakpoint-up(md){
            display: none;
            // display: block;
            }
        @include media-breakpoint-down(md){
            // display: none;
            display: block;
            position: fixed;
            // top:41px;
            }
    }
    
}

// if you want to use the function in javascript
// header_hider_scrolling in scirpt.js, it create a class of hide_header

// #site-header.hide {
//     top: -53px;
// }

.site-header {
    @include media-breakpoint-up(md){
        // for sticky header
        position: fixed;
        top: 3rem;
        width: 100%;
        z-index: 10;
        .main-navigation {
            display: block;
            width: 100%;
            padding-top: 3.5rem;
        }
        // end sticky
    }

    @include media-breakpoint-down(md){
        // for sticky header
        position: fixed;
        top: 3rem;
        width: 100%;
        z-index: 10;
        // end sticky
    }

    background-color: var(--bs-white);
    
    img.custom-logo{
        width: 7.5rem;
        height: auto;
        padding-bottom: 0.2rem;
    }

    .aws-search-field {
        font-size: 0.9rem;
        border-radius: 20px!important;
        padding-left: 1.4rem;
    }

    .aws-form-btn {
        border-radius: 20px!important;
        margin-left: 3px!important;
    }
    
    transition: .3s ease-in-out !important;
}

// #masthead {
//     position: fixed;
//     height: 52px;
//     transition: all .3s ease;

// }

#masthead.hide {
    top: -14rem;
}

// masthead is the site-hedear but in js is recognized with the ID
#masthead.site-header.scrolled {
    @include media-breakpoint-up(md){
        transition: .3s ease;

        .main-navigation {
            display: block;
            width: 100%;
            padding-top: 0.2rem;
        }

        img.custom-logo{
            // width: 4rem;
            width: 3.5rem;
            height: auto;
        }
    }
}

/****FOOTER*****/

#colophon{
    .container{
        .col{
            .img-fluid{
                max-width: 10rem;
            }
        }
    }
}

.site-footer{
    &__logo{
        img.custom-logo{
            width: 80%;
            height: auto;
        }
    }
    .info-site-footer{
        @include media-breakpoint-down(md){
            display: none;
            // display: block;
            }
            @include media-breakpoint-up(md){
                // display: none;
                display: block;
                // position: sticky;
                // top:41px;
            }
    }
    &__mobile{
        background-color: #C79FB5;
        @include media-breakpoint-up(md){
        display: none;
        // display: block;
        }
        @include media-breakpoint-down(md){
            // display: none;
            display: block;
            // position: sticky;
            // top:41px;
        }
    }
}


    // #colophon {
//     display: grid;
//     grid-template-columns: auto 1fr;
//     grid-template-rows: repeat(6, auto);
//   }
  
//   #colophon .logo {
//     grid-row: 1 / span 6;
//     width: 20px;
//     height: 20px;
//   }
  
//   #colophon .link {
//     grid-column: 2;
//   }


/***MAIN MENU***/
.main-navigation{
    font-weight: 600;

    /* change bg color to the current element */
    .current-menu-item{
        background-color: var(--bs-pasol-pink);
    }

    /*change the font color */
    
    a{
        color: var(--bs-black);
        padding: 0.6rem 1.4rem;
    } 
    
    a:hover{
        // color: var(--bs-orange);
        background-color: var(--bs-pasol-pink);
    } 

    .menu-toggle{
        background-color: var(--bs-pasol-pink);
        color: var(--bs-black);
        border: none;
        border-radius: 20px!important;
    }
}

.main-navigation.toggled ul {
    // background-color: var(--bs-pasol-pink);
    background-color: var(--bs-pasol-pink);

    .current-menu-item{
        background-color: var(--bs-pasol-yellow)!important;
    }

    a:hover{
        // color: var(--bs-orange);
        background-color: var(--bs-pasol-yellow);
    } 
}

/******Front-Page******/
.gray-line {
    border: none;
    border-top: 0.05rem solid $pasol-dark-green!important;
    margin: 1em 0;
  }

/***Carousel***/
.site{
    padding-top: 4.5rem;    
}

.site-main{
    padding-top: 4.5rem;
    .container-liquid{
        padding: 0rem 0 2rem 0;
    }
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(9, 9, 9);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel{ 
    .carousel-control-prev, .carousel-control-next{
        width: 9%;
        filter: invert(100%);
    }

    // .carousel-control-next-icon:after
    // {
    // content: '>';
    // font-size: 55px;
    // color: red;
    // }

    // .carousel-control-prev-icon:after {
    // content: '<';
    // font-size: 55px;
    // color: red;
    // }
}

/**CONTAINER SECTION**/
.container-fluid{
    &__white{
        // takes all the settings of the container-fluid
        @extend .container-fluid;
        background-color: var(--bs-white);
    }

    &__pink{
        @extend .container-fluid;
        background-color: var(--bs-pasol-pink);
    }

    &__blue{
        @extend .container-fluid;
        background-color: var(--bs-pasol-blue);
    }

    &__footer{
        @extend .container-fluid;
    }
}

.container{
    &__woocommerce{
        @extend .container;
        padding: 3rem 0 1rem 0;
    }
}

/** HIDE THE DASHBOARD OF THE WOOCOMMERCE **/
.woocommerce-MyAccount-navigation{
    display: none;
}
// tranform the content to be 100% width
.woocommerce-account .woocommerce-MyAccount-content{
    width: 100%;
}

.my-account-pdash{
    padding-top: 0.6rem;
    width: 15rem;
}
 // orders
 .kt-info-box_c153ee-4c .kt-blocks-info-box-link-wrap{
    height: 3rem;
}
// edit addresses
.kt-info-box_535ed2-44 .kt-blocks-info-box-link-wrap{
    height: 3rem;
}
// edit account
.kt-info-box_c68c70-19 .kt-blocks-info-box-link-wrap{
    height: 3rem;
}

/***SECTION POSTs***/

.first-post{
    &__image{
        padding-left: 4rem;
        img{
            border-radius: 22px;
        }
    }
    
}

/* STYLING FOR WOOCOMMERCE CART PAGE */

/** empty cart**/
.empty-cart h2 {
    line-height: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
 }
 .empty-cart p {
    line-height: 2em;
    max-width: 600px;
    margin: auto;
 }
 .empty-cart {
    text-align: center;
    padding-bottom: 10vw;
 }
 .container p.return-to-shop {
    text-align: center ;
    padding-bottom: 80px;
 }
 .empty-cart-header {
    float: right;
    margin-top: -50px;
    position: relative;
 }
 .empty-cart-icon {
    display: inline-block;
    line-height: initial;
    // font-family: ETmodules;
    font-size: 2rem;
    color: var(--pasol-dark-green);
    border: 2px solid var(--pasol-dark-green);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 20px;
 }

 /** auto update the cart, before hide the button then javascript**/
.woocommerce button[name="update_cart"],
.woocommerce input[name="update_cart"] {
	display: none;
}

/** show images in cart in mobile **/
// @media (max-width: 980px) {
//     .woocommerce table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
//     display: block;
//     text-align: left !important;
//     }

// .woocommerce-page table.shop_table_responsive tr td.product-thumbnail::before {
//     display: none;
//     }
// }

/** Styling woocommerce shop page **/
.wc-block-product-categories {
    margin-bottom: 1em;
    background: #efefef;
    padding: 2rem 0 0.5rem 1rem;
}
.wc-block-product-categories-list.wc-block-product-categories-list--depth-0 {
    font-size: 1.5rem;
    list-style: decimal;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
#select-a-category {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 3rem;
}
.woocommerce-ordering {
    font-size: 1.7rem;
}
.storefront-sorting select {
    border: 2px solid black;
    text-align: center;
    font-variant: small-caps;
}

/** 404 PAGE **/
.page_404{background:#fff; font-family: 'Arvo', serif;
    display: block;
    @include media-breakpoint-up(md){
        padding: 0 0 0 10rem;
        }
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: var(--pasol-dark-green);
    // margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}

/** MY ACCOUNT PAGE **/
// .woocommerce-MyAccount-navigation {

//     display:none;
    
// }
    
// .woocommerce-account .woocommerce-MyAccount-content {
    
//     width: 100%;
    
// }

.greeting-message {
    display: flex;
    justify-content: center;
}

.wp-block-image.size-large.is-resized.is-style-rounded.img-account {
    display: flex;
    justify-content: center;
  }

div.eb-infobox-wrapper {
    overflow: hidden;
    height: 211px;
    width: auto;
    padding: 0 0 0 0!important;
}

/**FLOATING BASKET WITH XOO-WSC **/
.xoo-wsc-basket {
    height: 3rem;
    width: 3rem;
    padding: 0rem 0rem 0rem 0.5rem;
}

// .xoo-wsc-empty-cart:before {
//     content: "Your cart is currently empty. Add items to your cart to proceed to checkout.";
// }

.xoo-wsc-header {
    background-color: var(--pasol-yellow);
}

.xoo-wsc-body {
    background-color: var(--pasol-pink);
}

.xoo-wsc-footer {
    background-color: var(--pasol-pink);
}

// line of separatino of the products
.xoo-wsc-product {
    display: flex;
    border-bottom: 1px solid var(--pasol-yellow);
}

.xoo-wsc-items-count, .xoo-wsc-sc-count {
    background-color: var(--pasol-yellow) !important;
    color: var(--pasol-dark-green) !important;
}
//** THIS IS THE HOOVER **//
// .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) a.button:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) button.button:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) input.button:hover, .woocommerce:where(body:not(.woocommerce-block-theme-has-button-styles)) #respond input#submit:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce a.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce button.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce input.button:hover, :where(body:not(.woocommerce-block-theme-has-button-styles)) .woocommerce #respond input#submit:hover {
//     background-color: var(--pasol-green);
//     text-decoration: none;
//     background-image: none;
//     color: #515151;
// }

/** DEACTIVATE ALL THE COLORS **/
// .xoo-wsc-ft-btn.button.btn,
// .xoo-wsc-ft-btn.button.btn:hover {
//     background-color: var(--pasol-green) !important;
// }


.xoo-wsc-ft-btn-checkout {
    background-color:  var(--pasol-new-green)!important; /* replace with your desired color code */
  }

  .xoo-wsc-ft-btn-checkout:hover {
    background-color: var(--pasol-dark-green) !important;
    color: #ffffff !important;
}

// .xoo-wsc-ft-btn-continue {
//     background-color:  var(--pasol-purple)!important; /* replace with your desired color code */
//   }

  .xoo-wsc-ft-btn-continue:hover {
    background-color: var(--pasol-dark-green) !important;
    color: #ffffff !important;
}

// .xoo-wsc-ft-btn-cart {
//     background-color:  var(--pasol-yellow)!important; /* replace with your desired color code */
//   }

  .xoo-wsc-ft-btn-cart:hover {
    background-color: var(--pasol-dark-green) !important;
    color: #ffffff !important;
}

/** FINEST CART--OPTIONAL BECAUSE BUTTONS AND ANIMATIONS **/
div.finest-item-thumb{
    img {
        height: auto !important;
        border-radius: 0 !important;
    }
}

/** ADD QUANTITY BUTTON **/


